<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="iceCastRemotePath" value="" />
    <add key="ezstreamRemotePath" value="" />
    <add key="musicFolderPath" value="" />
    <add key="sshHost" value="88.208.220.69" />
    <add key="sshUsr" value="root" />
    <add key="sshPwd" value="Y5x7z7V5c" />
    <add key="cmdStopIceCast" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdStopIceCast.txt' />
    <add key="cmdStartIceCast" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdStartIceCast.txt' />
    <add key="cmdStopEZStream" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdStopEZStream.txt' />
    <add key="cmdStartEZStream" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdStartEZStream.txt' />
    <add key="cmdSwitchPlayList" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdSwitchPlayList.txt' />
    <add key="cmdNextTrack" value='echo "`date +%d%m%Y%H%M%S`" > /tmp/cmdNextTrack.txt' />
    <add key="plinkPath" value="c:\Install\Putty\plink.exe" /> -->

    <add key="iceCastRemotePath" value="/var/www/social/data/www/play.radiovolya.org/icecast.xml" />
    <add key="ezstreamRemotePath" value="/var/www/social/data/www/play.radiovolya.org/ezstream.xml" />
    <add key="musicFolderPath" value="/var/www/social/data/www/play.radiovolya.org/music" />
    <add key="sshHost" value="77.120.104.19" />
    <add key="sshUsr" value="adm1n" />
    <add key="sshPwd" value="QKbnbLA8" />
    <add key="cmdStopIceCast" value="killall -9 icecast" />
    <add key="cmdStartIceCast" value='icecast -b -c "{0}"' />
    <add key="cmdStopEZStream" value="killall -9 ezstream" />
    <add key="cmdStartEZStream" value='ezstream -q -c "{0}" >/dev/null 2>/dev/null &amp;' />
    <add key="cmdSwitchPlayList" value="killall -HUP ezstream" />
    <add key="cmdNextTrack" value="killall -USR1 ezstream" />
    <add key="plinkPath" value="c:\Install\Putty\plink.exe" />
  </appSettings>
</configuration>